.salic-settings-item.checkbox-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: var(--radius);
    cursor: pointer;
    border: var(--border);
    border-color: var(--secondary-200);
    transition: border-color var(--transition-duration) ease-in-out;
    font-weight: 500;
    &.active {
      border-color: var(--primary-700);
      box-shadow: var(--shadow);
    }
  }
  &.lg .item {
    font-size: var(--text-base);
    padding: 8px 14px;
  }
  &.default .item {
    font-size: var(--text-md);
    padding: 6px 12px;
  }
  &.sm .item {
    font-size: var(--text-sm);
    padding: 4px 8px;
  }
}