.salic-settings-item.field-drawer {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  inset: 0;
  .mask {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: #FFFFFFA0;
  }
  .wrappers {
    position: relative;
    z-index: 99999;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    .wrapper {
      position: relative;
      /* width: 500px; */
      max-width: 100dvw;
      height: 100%;
      overflow: auto;
      background-color: var(--settigns-ui-bg-base);
      border-left: 2px solid var(--settigns-ui-light-200);
      padding: 24px;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        h1 {
          font-size: var(--text-base);
          font-weight: 600;
        }
      }
    }
  }
}


/* mobile screen */
@media screen and (max-width: 768px) {
  .salic-settings-item.field-drawer {
    .wrappers {
      .wrapper {
        position: absolute;
        right: 0;
      }
    }
  }
}