.salic-settings-item.field-drawer {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  z-index: 99999;
  inset: 0;
  display: flex;
  justify-content: end;
  .mask {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: #FFFFFFA0;
  }
  .wrapper {
    position: relative;
    /* width: 500px; */
    max-width: 100dvw;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    border-left: 2px solid var(--light-200);
    padding: 24px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      h1 {
        font-size: var(--text-base);
        font-weight: 600;
      }
    }
  }
}