.select-options {
  .options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .75rem;
  }
  .option {
    display: flex;
    gap: .5rem;
  }
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: .5rem;
  .label {
    display: inline-block;
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 2;
  }
}


.input-type-field {
  .block {
    margin-bottom: 2rem;
    .title {
      color: var(--settigns-ui-gray);
      font-size: var(--text-md);
      margin-bottom: 1rem;
    }
    .block-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      .item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.75rem 1rem;
        border: var(--border);
        border-radius: var(--radius);
        transition-property: border-color;
        transition-duration: var(--transition-duration);
        cursor: pointer;
        &.disabled {
          cursor: not-allowed;
        }
        &:not(.disabled):hover, &.active {
          border-color: var(--settigns-ui-primary);
        }
        .icon {
          display: flex;
          align-items: center;
          & > svg {
            width: 1.4rem;
            height: 1.4rem;
          }
        }
        .name {
          font-weight: 500;
          font-size: var(--text-sm);

        }
      }
    }
  }
}
/* tables screen */
@media screen and (max-width: 768px) {
  .input-type-field {
    .block {
      margin-bottom: 1rem;
      .title {
        margin-bottom: 0.5rem;
      }
      .block-list {
        grid-template-columns: 1fr;
        gap: 0.5rem;
      }
    }
  }
}

.default-size {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    p {
      flex-basis: 20%;
      font-size: var(--text-sm);
      font-weight: 500;
    }
    > div {
      position: relative;
      flex-basis: 80%;
      padding: 1rem;
      border-radius: var(--radius);
      border: var(--border);
      overflow: hidden;
      &::after {
        content: 'Enter a Text ...';
        position: absolute;
        font-size: var(--text-sm);
        color: var(--settigns-ui-gray);
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
      .checkbox {
        visibility: hidden;
        color: white;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--settigns-ui-primary);
        border-radius: 0px 0px 0px var(--radius);
      }
      &.large {
        height: 3rem;
      }
      &.large::after {
        font-size: var(--text-base);
      }
      &.middle {
        height: 2.5rem;
      }
      &.middle::after {
        font-size: var(--text-md);
      }
      &.small {
        height: 2rem;
      }
      &.small::after {
        font-size: var(--text-sm);
      }
      &.active {
        border-color: var(--settigns-ui-primary);
        background-color: var(--settigns-ui-secondary-100);
        &::after {
          color: var(--settigns-ui-primary);
        }
        .checkbox {
          visibility: visible;
        }
      }
    }
  }
}

.password-size {
  .item {
    > div {
      &::after {
        content: '********';
      }
    }
  }
}

.textarea-size {
  .item {
    > div {
      &::after {
        top: 1.25rem;
      }
      &::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--settigns-ui-light-300);
        position: absolute;
        right: 0px;
        bottom: 0px;
        clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
        cursor: ns-resize;
      }
      &.active {
        &::before {
          background-color: var(--settigns-ui-primary);
        }
      }
      &.large {
        height: 4rem;
      }
      &.middle {
        height: 3.5rem;
      }
      &.small {
        height: 2.5rem;
      }
    }
  }
}

.number-size {
  .item {
    > div {
      &::after {
        content: '0.00';
      }
      .buttons {
        position: absolute;
        height: 1.25rem;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
      .buttons::after {
        content: '';
        width: 0.7rem;
        height: 0.5rem;
        background-color: var(--settigns-ui-light-300);
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
      }
      .buttons::before {
        content: '';
        width: 0.7rem;
        height: 0.5rem;
        background-color: var(--settigns-ui-light-300);
        position: absolute;
        right: 0rem;
        top: 0rem;
        clip-path: polygon(50% 1%, 0% 100%, 100% 100%);
      }
      &.active {
        .buttons::after {
          background-color: var(--settigns-ui-primary);
        }
        .buttons::before {
          background-color: var(--settigns-ui-primary);
        }
      }
    }
  }
}

.select-size {
  .item {
    > div {
      &::after {
        content: 'Select item ...';
      }
      .buttons {
        position: absolute;
        height: 0.4rem;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
      .buttons::after {
        content: '';
        width: 0.75rem;
        height: 0.4rem;
        background-color: var(--settigns-ui-light-300);
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
      }
      &.active {
        .buttons::after {
          background-color: var(--settigns-ui-primary);
        }
        .buttons::before {
          background-color: var(--settigns-ui-primary);
        }
      }
    }
  }
}

.date-size {
  .item {
    > div {
      &::after {
        content: 'Select date ...';
      }
      .icon {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--settigns-ui-light-300);
        display: flex;
        align-items: center;
      }
      &.active {
        .icon {
          color: var(--settigns-ui-primary);
        }
      }
    }
  }
}



