.salic-settings-item.sidebar {
  background-color: #fff;
  padding: 18px 28px;
  border-right: var(--border);
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      h2 {
        font-size: var(--text-base);
        font-weight: 600;
      }
    }
  }
  ul.items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
    list-style: none;
    li.item {
      position: relative;
      padding: 0.5rem 1rem;
      font-size: var(--text-sm);
      line-height: 1.25;
      border-radius: var(--radius);
      font-weight: 600;
      cursor: pointer;
      transition: background-color var(--transition-duration) ease-in-out;
      &:hover {
        background-color: var(--secondary-100);
      }
      &.active {
        background-color: var(--secondary-100);
      }
      &.active::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -1.5px;
        width: 3px;
        height: 60%;
        border-radius: 2px;
        background-color: var(--primary-500);
        transform: translateY(-50%);
      }
    }
  }
}