@import url(./styles/sidebar.style.css);
@import url(./styles/row-card.style.css);
@import url(./styles/user-card.style.css);
@import url(./styles/group-card.style.css);
@import url(./styles/user-label.style.css);
@import url(./styles/image-input.style.css);
@import url(./styles/color-checkbox.style.css);
@import url(./styles/checkbox-buttons.style.css);
@import url(./styles/fields-list.style.css);
@import url(./styles/field-drawer.style.css);
@import url(./styles/inputs.style.css);

:root {
  --primary-500: #0B4D89;
  --primary-700: #08305C;
  
  --secondary-100: #EAF1FB;
  --secondary-200: #dbe7f8;
  --secondary-500: #79BDE3;
  --secondary-700: #339BD6;

  --success: #2A9F61;
  --warning: #E6AB15;
  --danger: #E74848;
  
  --light-100: #F2F2F2;
  --light-200: #E5E5E5;
  --light-300: #D5D5D5;
  --gray: #959595;
  --dark-100: #2A2A2A;
  --dark-200: #181818;
  --dark-300: #0F0F0F;

  --shadow: 0px 2px 7px #0B4D8936;

  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-base: 1rem;
  --text-md: 0.9rem;
  --text-sm: 0.8rem;
  --text-xs: 0.7rem;

  --radius: 4px;

  --transition-duration: 0.3s;

  --border: 1px solid var(--secondary-200);
}

.salic-settings-item {
  color: var(--primary-700);
}




/* form & inputs */
.form-item {
  color: var(--primary-700);
  margin-bottom: 1.5rem;
  .label {
    display: inline-block;
    font-weight: 500;
    font-size: var(--text-md);
    margin-bottom: .5rem;
  }
  .input {
    padding: .5rem 1rem;
    border: var(--border);
    border-radius: var(--radius);
    display: block;
    width: 100%;
    color: var(--primary-700);
    font-size: var(--text-md);
    transition-property: border;
    transition-duration: var(--transition-duration);
    &:focus {
      border-color: var(--secondary-700);
      outline: 4px solid var(--secondary-100);
    }
    &::placeholder {
      color: #98a0aa;
    }
  }
  .error-msg {
    font-size: var(--text-md);
    color: var(--danger);
    font-weight: 500;
    margin-top: .5rem;
  }
}

.btn {
  border-radius: var(--radius);
  border: none;
  font-size: var(--text-md);
  font-weight: 500;
  padding: 0 1.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  gap: 0.5rem;
  &:hover {
    cursor: pointer;
  }
  &:active {
    opacity: 0.9;
  }
  &:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
  }
}
.default-btn {
  background-color: var(--secondary-100);
  color: var(--primary);
  &:hover {
    background-color: var(--secondary-200);
  }
}

.primary-btn {
  background-color: var(--primary-700);
  color: white;
  &:hover {
    background-color: var(--primary-500);
  }
}

.remove-icon-btn {
  width: 2.5rem;
  min-width: 2.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-color: transparent;
  color: var(--danger);
  font-size: var(--text-base);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  box-shadow: none;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: #ffe5e5;
  }
  &:active {
    opacity: 0.9;
  }
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.anchor-btn {
  color: var(--primary-700);
  font-weight: 500;
  transition-property: color;
  transition-duration: var(--transition-duration);
  font-size: var(--text-base);
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



.checkbox {
  position: relative;
}

.checkbox .checkbox-label {
  background-color: #fff;
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
}

.checkbox .checkbox-label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 10px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label {
  background-color: var(--primary-700);
  border-color: var(--primary-700);
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
