@import url(./styles/sidebar.style.css);
@import url(./styles/row-card.style.css);
@import url(./styles/user-card.style.css);
@import url(./styles/group-card.style.css);
@import url(./styles/user-label.style.css);
@import url(./styles/image-input.style.css);
@import url(./styles/color-checkbox.style.css);
@import url(./styles/checkbox-buttons.style.css);
@import url(./styles/fields-list.style.css);
@import url(./styles/field-drawer.style.css);
@import url(./styles/inputs.style.css);

:root {
  --settigns-ui-primary: #08305C;
  
  --settigns-ui-text-color:  var(--settigns-ui-primary);
  /* --settigns-ui-text-secondary-color:  #767d84; */
  --settigns-ui-text-secondary-color:  #f00;

  --settigns-ui-bg-base: #FFFFFF;

  --settigns-ui-secondary-50: #F5FAFE;
  --settigns-ui-secondary-100: #EAF1FB;
  --settigns-ui-secondary-200: #dbe7f8;
  --settigns-ui-secondary-500: #339BD6;

  --settigns-ui-success: #2A9F61;
  --settigns-ui-warning: #E6AB15;
  --settigns-ui-danger: #E74848;
  
  --settigns-ui-light-100: #F2F2F2;
  --settigns-ui-light-200: #E5E5E5;
  --settigns-ui-light-300: #D5D5D5;
  --settigns-ui-gray: #959595;
  --settigns-ui-dark-50: #767d84;
  --settigns-ui-dark-100: #141414;
  --settigns-ui-dark-200: #181818;
  --settigns-ui-dark-300: #0F0F0F;

  --shadow: 0px 2px 7px #00000036;

  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-base: 1rem;
  --text-md: 0.9rem;
  --text-sm: 0.8rem;
  --text-xs: 0.7rem;

  --radius: 4px;

  --transition-duration: 0.3s;

  --border: 1px solid var(--settigns-ui-secondary-200);
}

.salic-settings-item {
  color: var(--settigns-ui-text-color);
}


/* form & inputs */
.form-item {
  margin-bottom: 1.5rem;
  /* min-height: 5.25rem; */
  .label {
    display: inline-block;
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 2;
  }
  .input {
    padding: .5rem 1rem;
    border: var(--border);
    border-radius: var(--radius);
    display: block;
    width: 100%;
    color: var(--settigns-ui-primary);
    font-size: var(--text-md);
    transition-property: border;
    transition-duration: var(--transition-duration);
    &:focus {
      border-color: var(--settigns-ui-secondary-500);
      outline: 4px solid var(--settigns-ui-secondary-100);
    }
    &::placeholder {
      color: var(--settigns-ui-text-secondary-color);
    }
  }
  .error-msg {
    font-size: var(--text-md);
    color: var(--settigns-ui-danger);
    font-weight: 500;
    margin-top: .5rem;
  }
}

/* default button */
.btn {
  border-radius: var(--radius);
  border: none;
  background: transparent;
  font-size: var(--text-md);
  font-weight: 500;
  padding: 0 1.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  gap: 0.5rem;
  &:hover {
    cursor: pointer;
  }
  &:active {
    opacity: 0.9;
  }
  &:disabled {
    background-color: var(--settigns-ui-gray);
    cursor: not-allowed;
  }
}

/* busttons sizes */
.sm-btn {
  font-size: var(--text-sm);
  padding: 0 0.75rem;
  height: 1.75rem;
}
.lg-btn {
  font-size: var(--text-base);
  padding: 0 1.5rem;
  height: 2.5rem;
}


/* button variants */
.default-btn {
  background-color:  #00000008;
  color: var(--settigns-ui-dark-100);
  &:hover {
    background-color: #00000016;
  }
}
.secondary-btn {
  background-color: var(--settigns-ui-secondary-100);
  color: var(--primary);
  &:hover {
    background-color: var(--settigns-ui-secondary-200);
  }
}
.primary-btn {
  background-color: var(--settigns-ui-primary);
  color: white;
  &:hover {
    background-color: var(--settigns-ui-primary);
  }
}
.danger-btn {
  background-color: #fff2f2;
  color: var(--settigns-ui-danger);
  &:hover {
    background-color: #ffdcdc;
  }
}

/* is icon button */
.icon-btn {
  padding: 0;
  aspect-ratio: 1 / 1;
}



.anchor-btn {
  color: var(--settigns-ui-primary);
  font-weight: 500;
  transition-property: color;
  transition-duration: var(--transition-duration);
  font-size: var(--text-base);
  border: none;
  background: none;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.checkbox {
  position: relative;
}

.checkbox .checkbox-label {
  background-color: var(--settigns-ui-bg-base);
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
}

.checkbox .checkbox-label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 10px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label {
  background-color: var(--settigns-ui-primary);
  border-color: var(--settigns-ui-primary);
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
